h1{ background-color: darkgrey}


table{
    border-collapse: collapse;
    width: 100%;

}
th{
    height: 50px;
    text-align: left;
    padding: 5px;
    background-color: rgb(10, 161, 111);
    color:white;
    
}

td{
    text-align: left;
    padding: 15px;
}
table, th, td{
border:1px solid black;
}

button{
    
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgb(76, 91, 175);
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #888;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      
      button:hover {background-color: #3f3e8e}
      
      button:active {
        background-color: #3e3f8e;
        box-shadow: 0 5px #555;
        transform: translateY(4px);
      }
      h2{border-bottom: 2px solid #333333}

    

tr:nth-child(even) {background-color: #f2f2f2;}



